.basicDeleteBtn {
        border-radius: 30px;
        width: 100px;
        background: #eee;
        padding: 10px 0;
        border: none;
        outline: none;
        cursor: pointer;
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 12px;
        line-height: 167%;
        letter-spacing: 0.03em;
        text-align: center;
        color: #343a40;
}