.container {
    display: flex;
    height: 100vh;
    background-color: #e5e5e5;
    max-height: 1300px;
}

.sidebar {
    width: 30%;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    transition: transform 0.3s ease-in-out;
}

.openSidebar {
    transform: translateX(0);
}

.closedSidebar {
    transform: translateX(-100%);
}


.messageTime {
    font-family: var(--second-family);
    font-size: 10px;
    color: #fff;
    padding-top: 5px;
    text-align: right;
}

.userButton {
    display: flex;
    align-items: center;
    padding: 15px;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-family: var(--font-family);
    cursor: pointer;
    transition: background-color 0.2s;
    outline: none;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 13px;

    h2 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 32px;
        letter-spacing: 0.04em;
    }
}

.activeUserContainer {
    outline: none;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #3a97f3;

    button {
        color: #fff;
    }
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    transition: transform 0.3s ease-in-out;
}

.sidebarOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #0078ff;
}

.header {
    padding: 15px;
    background-color: #0078ff;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeButton {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.messagesContainer {
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}

.message {
    max-width: 500px;
    padding: 10px;
    border-radius: 15px;
    font-size: 18px;
    font-family: var(--font-family);
    line-height: 1.5;
    overflow-wrap: break-word;
}

.messageImage,
.messageVideo {
    max-width: 300px;
    border-radius: 15px;
}

.received {
    align-self: flex-start;
    background-color: #e5e5ea;
    color: #000;
}

.sent {
    align-self: flex-end;
    background-color: #0078ff;
    color: #fff;
}

.firstPartFooter {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer {
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;

    .fileInput {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    label {
        cursor: pointer;
        padding-right: 10px;
    }
}

.input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
}

.sendButton {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #0078ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.sendButton:hover {
    background-color: #005bb5;
}

@media only screen and (max-width: 695px) {
    .closeButton {
        display: block;
    }

    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: 100%;
    }

    .chatContainer {
        width: 100%;
        height: 100%;
    }

    .messageImage,
    .messageVideo {
        max-width: 350px;
    }

    .message {
        max-width: 400px;
    }
}

@media only screen and (max-width: 500px) {
    .message {
        max-width: 300px;
    }

    .messageImage,
    .messageVideo {
        max-width: 250px;
    }
}

@media only screen and (max-width: 413px) {

    .messageImage,
    .messageVideo {
        max-width: 250px;
    }

    .footer {
        flex-direction: column;
        row-gap: 10px;
    }

    .message {
        max-width: 300px;
    }
}