$button-background: transparent;
$small-font-size: 14px;
$bold-weight: 700;
$btn-border: none;
$center: center;
$cursor: pointer;
$border: 1px;
$none: none;
$white: #fff;
$hidden: hidden;
$container-width: 1780px;